html.js .description.toggle-description-desc {
  display: none;
}
html.js th.content-multiple-remove-header {
  display: none;
}
a.toggle-description-trigger {
  background: url(help.png) no-repeat right top;
  color: #aaa !important;
  clear: right;
  display: block;
  float: right;
  font-size: .92em;
  font-weight: bold;
  margin-bottom: .5em;
  min-height: 16px;
  padding: 0 22px 1px 6px;
  white-space: nowrap;
}
a.toggle-description-trigger:hover {
  color: #666;
}
table.toggle-description thead th {
  padding-right: 0;
}
table.content-multiple-table a.toggle-description-trigger {
  margin-bottom: 0;
}
tr.toggle-description-row.even,
tr.toggle-description-row.odd {
  background-color: inherit;
  border-bottom-width: 0;
  padding: 0;
}
tr.toggle-description-row td {
  padding: 0;
}
a.toggle-description-trigger:hover {
  background-position: right -40px;
  color: #333 !important;
  text-decoration: underline;
}
a.toggle-description-trigger:active {
  background-position: right -39px;
  padding: 1px 21px 0px 7px;
}


/* Fancy box. Should be in a separate .css */
html.js .description.toggle-description-desc {
  background-color: #f9f3e6;
  border: 1px solid #aaa;
  box-shadow: 3px 3px 4px #ccc;
  -moz-box-shadow: 3px 3px 4px #ccc;
  -webkit-box-shadow: 3px 3px 4px #ccc;
  clear: both;
  padding: 1em 2em;
}
html.js .description.toggle-description-desc p,
html.js .description.toggle-description-desc ul {
  margin-top: 0;
}
